$text-color-dark: #1B1C21;
$text-color-grey: #7E7E82;
$link-color-hover: #0d6efd;
$link-color-active: #0a58ca;
$decor-color-olive: #41F6D7;
$decor-color-border: #B8FFEC;
$bg-color-light: #fff;
$bg-color-grey: #F8F8F8;