.brand {
  &__item-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    padding: 0 16px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background-color: $bg-color-light;
    &--equip-cart {
      display: flex;
      align-items: flex-start;
      height: 160px;
      padding: 16px;
      .brand__link {
        position: absolute;
        bottom: 16px;
        right: 16px;
      }
    }
    &--price-cart {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 250px;
      height: 200px;
      padding: 16px;
    }
  }
  &__link {
    &:focus,
    &:hover {
      outline: 2px solid $decor-color-border;
      outline-offset: 5px;
    }
    &:active {
      outline: 2px solid $decor-color-olive;
      outline-offset: 5px;
    }
  }
  &__arrow {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}
