* {
  font-family: 'TT Lakes', sans-serif;
  margin: 0;
  padding: 0;
}
.page {
  background-color: $bg-color-grey;
}
.container {
  background-color: $bg-color-grey;
  border-left: 1px solid $decor-color-border;
  border-right: 1px solid $decor-color-border;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color-light;
  opacity: 0.95;
  z-index: 2;
  &--show-with-menu {
    display: block;
  }
  &--show-with-modal {
    display: block;
    z-index: 4;
  }
}
.overflowHidden {
  overflow: hidden;
}
.click2show {
  display: none;
}
.button-wrapper {
  display: none;
}
