.header {
  background-color: $bg-color-light;
  display: flex;
  flex-direction: column;
  &__icons-wrapper {
    height: 88px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
  }
  &__link {
    &:focus {
      outline: 2px solid $decor-color-border;
      outline-offset: 5px;
    }
    &:hover {
      .header__link-text {
        color: $link-color-hover;
        transition: color 0.2s linear;
      }
    }
    &:active {
      .header__link-text {
        color: $link-color-active;
        text-decoration: underline;
        transition: color 0.2s linear;
      }
    }
    &-img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }
  &__logo-img {
    width: 97px;
    height: 51px;
    object-fit: contain;
  }
  &__burger.margin--var {
    margin-left: 16px;
    margin-right: 16px;
  }
  &__repair.margin--var,
  &__check-status.margin--var {
    margin-right: 16px;
  }
}
