.margin {
    &--mr9 {
        margin-right: 9px;
    }
    &--mr16 {
        margin-right: 16px;
    }
    &--mr20 {
        margin-right: 20px;
    }
    &--mr32 {
        margin-right: 32px;
    }
    &--mr-auto {
        margin-right: auto;
    }
}