@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .side-menu {
    max-width: 320px;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  }
  .header {
    .visible--above768 {
      display: inline-block;
    }
    &__repair.margin--var {
      margin-right: 16px;
    }
    &__check-status.margin--var {
      margin-right: 24px;
    }
  }
  .title {
    gap: 20px;
    &--grey {
      padding-left: 24px;
    }
  }
  .main {
    padding: 0 0 40px;
  }
  .horiz-menu {
    margin: 0 16px 24px 24px;
  }
  .company-descr {
    display: flex;
    gap: 48px;
    padding: 0 24px 10px;
    &__text {
      padding: 0;
      flex-basis: 45%;
    }
    &__img-container {
      flex-basis: 55%;
    }
    &__img {
      border-radius: 7px;
    }
    .visible--above768 {
      display: inline;
    }
  }
  .repaired-brands {
    padding-bottom: 32px;
  }
  .brand {
    &__item-wrapper {
      width: 224px;
      &--price-cart {
        position: relative;
        width: auto;
        height: 100%;
        padding: 0 16px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-radius: 0;
      }
    }
  }
  .fade-swiper {
    display: none;
  }
  .swiper {
    width: auto;
    height: auto;
    padding-top: 40px;
    &-slide:first-child > .brand__item-wrapper--price-cart {
      border-radius: 6px 6px 0 0;
    }
    &-slide:last-child > .brand__item-wrapper--price-cart {
      border-radius: 0 0 6px 6px;
    }
    &-slide:not(:last-child) > .brand__item-wrapper--price-cart {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 16px;
        display: block;
        width: calc(100% - 32px);
        height: 2px;
        background-color: $bg-color-grey;
        &:last-child {
          display: none;
        }
      }
    }
    &--prices {
      padding-top: 0;
    }
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 224px);
      grid-template-rows: 72px;
      grid-auto-rows: 72px;
      column-gap: 24px;
      row-gap: 16px;
      &--equipment {
        grid-template-rows: 160px;
        grid-auto-rows: 160px;
      }
      &--prices {
        padding-left: 24px;
        grid-template-columns: calc(100vw - 48px);
        grid-template-rows: repeat(6, minmax(64px, auto));
        grid-auto-rows: minmax(64px, auto);
        row-gap: 0;
      }
    }
  }
  .hide-slide {
    display: none;
  }
  .click2show {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding-left: 28px;
    border: none;
    background-color: $bg-color-grey;
    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url('../img/icons/View-all-arrows.svg') center center / contain no-repeat;
    }
    &::after {
      content: 'Показать все';
    }
    &:focus {
      outline: 2px solid $decor-color-border;
      outline-offset: 5px;
    }
    &:hover::after {
      color: $link-color-hover;
      transition: color 0.2s linear;
    }
    &:active::after {
      color: $link-color-active;
      text-decoration: underline;
      transition: all 0.2s linear;
    }
  }
  .hide-carts {
    &::before {
      content: '';
      background: url('../img/icons/Hide-arrows.svg') center center / contain no-repeat;
    }
    &::after {
      content: 'Скрыть';
    }
  }
  .prices {
    &__table-header {
      display: flex;
      justify-content: space-between;
      padding: 31px 40px 16px 40px;
    }
    &__service-table-header {
      width: 350px;
    }
    &__price-table-header {
      width: 75px;
    }
    &__duration-table-header {
      width: 82px;
    }
    &__table-header-spacer {
      width: 119px;
    }
    &__service-header,
    &__price-header,
    &__duration-header {
      display: none;
    }
    &__servise-descr,
    &__price-value {
      margin-bottom: 0;
    }
    &__servise-descr {
      width: 350px;
    }
    &__price-value {
      width: 75px;
    }
    &__duration-value {
      width: 82px;
    }
    &__order-btn {
      position: static;
    }
    &__descr {
      width: 432px;
      padding: 24px 0 16px 24px;
    }
    &__link-get-offer {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1px;
      width: auto;
      margin-left: 24px;
      &::after {
        position: static;
      }
    }
  }
  .footer {
    padding: 40px 24px 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &__copyright-wrapper {
      flex-basis: 222px;
      align-items: flex-start;
    }
    &__privacy-policy {
      flex-basis: 214px;
    }
    &__info-not-offer {
      flex-basis: 213px;
      text-align: right;
    }
  }
}

@media (min-width: 1440px) {
  .container {
    // width: auto;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      'side-menu header'
      'side-menu main'
      'side-menu footer';
  }
  .side-menu {
    grid-area: side-menu;
    transform: translateX(0%);
    box-shadow: none;
    &__close {
      display: none;
    }
    &__nav {
      margin: 0 0 240px;
    }
  }
  .header {
    grid-area: header;
    background-color: $bg-color-grey;
    padding: 42px 0 9px;
    flex-direction: row;
    justify-content: space-between;
    &__icons-wrapper {
      order: 1;
      height: auto;
    }
    &__burger,
    &__divider,
    &__logo,
    .visible--above768 {
      display: none;
    }
    .visible--above1120 {
      display: inline-block;
    }
    &__repair.margin--var,
    &__check-status.margin--var {
      margin-right: 32px;
    }
  }
  .title {
    gap: 28px;
    &--grey {
      padding-left: 32px;
    }
  }
  .main {
    grid-area: main;
  }
  .gradient-4-horiz-menu {
    display: none;
  }
  .horiz-menu {
    overflow-x: visible;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 7px;
    margin: 0 16px 12px 32px;
    &__link {
      margin-bottom: 0;
    }
  }
  .company-descr {
    gap: 36px;
    padding: 0 32px 16px;
    &__text {
      flex-basis: 48%;
    }
    &__img-container {
      flex-basis: 52%;
    }
    .visible--above1120 {
      display: inline;
    }
  }
  .repaired-brands {
    padding-bottom: 50px;
  }
  .brand {
    &__item-wrapper {
      width: 240px;
      &--price-cart {
        position: relative;
        width: auto;
        height: 100%;
        padding: 0 16px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-radius: 0;
      }
    }
  }
  .swiper {
    &-wrapper {
      grid-template-columns: repeat(4, 240px);
      column-gap: 32px;
      &--prices {
        padding-left: 32px;
        grid-template-columns: calc(100vw - 384px);
        grid-template-rows: repeat(6, minmax(64px, auto));
        grid-auto-rows: minmax(64px, auto);
        row-gap: 0;
      }
    }
  }
  .repaired-brands {
    .swiper-slide {
      &:nth-child(7),
      &:nth-child(8) {
        display: block;
      }
    }
  }
  .repaired-equipment {
    .swiper-slide {
      &:nth-child(4) {
        display: block;
      }
    }
  }
  .prices {
    &__descr {
      padding: 32px 0 16px 32px;
    }
    &__link-get-offer {
      margin-left: 32px;
    }
  }
  .footer {
    grid-area: footer;
    padding: 40px 32px 21px;
    &__copyright-wrapper {
      flex-basis: 222px;
    }
    &__privacy-policy {
      flex-basis: 214px;
    }
    &__info-not-offer {
      flex-basis: 330px;
    }
  }
}
