.modal {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s linear;
  height: 100%;
  width: 320px;
  border-left: 1px solid $decor-color-border;
  padding: 24px 16px 24px 0;
  background-color: $bg-color-light;
  overflow: auto;
  z-index: 5;
  &__close {
    display: inline-block;
    margin: 0 0 32px 16px;
    &:focus {
      outline: 2px solid $decor-color-border;
      outline-offset: 5px;
    }
    &:hover {
      filter: opacity(70%);
      transition: filter 0.2s linear;
    }
    &:active {
      filter: opacity(40%);
      transition: filter 0.2s linear;
    }
  }
  &__close-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  &__input-text,
  &__input-tel,
  &__input-email {
    width: 288px;
    height: 48px;
    padding: 12px 16px;
    margin: 0 0 16px 16px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    &::placeholder {
      color: #b5b6bc;
    }
    &:focus,
    &:hover,
    &:active {
      outline: 2px solid $decor-color-border;
    }
  }
  &__input-text--message {
    height: 288px;
    resize: none;
  }
  &__submit-text {
    margin: 0 0 18px 16px;
  }
  &__submit-text-link {
    color: #ff3e79;
    text-decoration: none;
    &:focus,
    &:hover {
      outline: none;
      color: $link-color-hover;
      text-decoration: underline;
      transition: color 0.2s linear;
    }
    &:active {
      outline: none;
      color: $link-color-active;
      text-decoration: underline;
      transition: color 0.2s linear;
    }
  }
  &--show {
    transform: translateX(0%);
    transition: transform 0.3s linear;
  }
}
