.prices {
  &__service-header {
    margin-bottom: 2px;
  }
  &__servise-descr {
    margin-bottom: 16px;
  }
  &__price-header {
    margin-bottom: 2px;
  }
  &__price-value {
    margin-bottom: 16px;
  }
  &__duration-header {
    margin-bottom: 2px;
  }
  &__order-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 119px;
    height: 32px;
    padding: 0 8px 0 12px;
    border-radius: 16px;
    background-color: #ff3e79;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url('../img/icons/get-offer-arrow.svg') center center / contain no-repeat;
    }
  }
  &__descr {
    padding: 16px 24px 16px 16px;
    margin: 0;
  }
  &__link-get-offer {
    position: relative;
    display: block;
    width: 192px;
    margin-left: 16px;
    text-decoration: none;
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      right: 60px;
      width: 24px;
      height: 24px;
      background: url('../img/icons/get-offer-arrow.svg') center center / contain no-repeat;
    }
    &:focus {
      outline: 2px solid $decor-color-border;
      outline-offset: 5px;
    }
    &:hover {
      color: $link-color-hover;
      transition: color 0.2s linear;
    }
    &:active {
      color: $link-color-active;
      text-decoration: underline;
      transition: color 0.2s linear;
    }
  }
}
