.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s linear;
  height: 100%;
  max-width: 360px;
  border-right: 1px solid $decor-color-border;
  padding: 18px 24px 32px;
  background-color: $bg-color-light;
  overflow: auto;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
  }
  &__close {
    margin-right: 16px;
    cursor: pointer;
  }
  &__close-img,
  &__search-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  &__logo {
    margin-right: auto;
    &-img {
      width: 97px;
      height: 51px;
      object-fit: contain;
    }
  }
  &__btn {
    border: none;
    background-color: $bg-color-light;
  }
  &__link-img {
    &:focus {
      outline: 2px solid $decor-color-border;
      outline-offset: 5px;
    }
    &:hover {
      filter: opacity(70%);
      transition: filter 0.2s linear;
    }
    &:active {
      filter: opacity(40%);
      transition: filter 0.2s linear;
    }
  }
  &__nav {
    margin: 0 0 auto;
    padding: 0;
    list-style: none;
  }
  &__item {
    position: relative;
    margin-bottom: 32px;
  }
  &__before-item-line {
    &::before {
      content: '';
      position: absolute;
      left: -24px;
      transform: translateY(-4px);
      width: 4px;
      height: 32px;
      background: url('../img/icons/side-line-icon.svg') center center / contain no-repeat;
    }
  }
  &__link {
    text-decoration: none;
    &:focus {
      outline: 2px solid $decor-color-border;
      outline-offset: 5px;
    }
    &:hover {
      color: $link-color-hover;
      transition: color 0.2s linear;
    }
    &:active {
      color: $link-color-active;
      text-decoration: underline;
      outline: none;
      transition: all 0.2s linear;
    }
  }
  &__footer {
    &-icon {
      margin: 0 16px 16px 0;
      &-img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }
    &-email {
      display: inline-block;
      margin-bottom: 12px;
    }
    &-phone {
      display: inline-block;
      margin-bottom: 40px;
    }
  }
  &__lang {
    margin-right: 7px;
    &--active {
      color: $text-color-grey;
    }
  }
  &--show {
    transform: translateX(0%);
    transition: transform 0.3s linear;
  }
}
