.swiper {
  position: relative;
  width: 308px;
  padding-top: 16px;

  &-wrapper {
    padding-left: 16px;
    margin-bottom: 0;
    &--prices {
      padding-left: 8px;
    }
  }

  &-pagination {
    position: static;
    padding: 8px 0;
  }

  &--prices {
    width: 312px;
  }
}

.fade-swiper {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 2;
  width: 24px;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0) 100%);

  &--brands {
    height: 84px;
  }
  &--equipment {
    height: 172px;
  }
  &--prices {
    height: 212px;
  }
}
